name: Build Windows EXE

on:
  push:
    branches: [ main ] # Runs when you push code to the main branch

jobs:
  build:
    runs-on: windows-latest # This provides the cloud Windows machine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Enable Windows Build
        run: flutter config --enable-windows-desktop

      - name: Build Windows
        run: flutter build windows --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: supermarket-pos-windows
          path: build/windows/x64/runner/Release/ # Path to your .exe
